# Filesystem
.DS_Store

# Editors
.idea/
.vscode/

# Environement variables
.env
.envrc
.enrc

# Python
.pytest_cache/
__pycache__/

# Virtual Environments
venv/
.venv/

# App
redis-data/
es-data/
metricbeat/
pg-airflow/
metricbeat-data/
