# Filesystem
.DS_Store

# Editors
.idea/
.vscode/

# Environement variables
.env
.envrc
.enrc
mise.local.toml

# Python
.pytest_cache/
__pycache__/

# Virtual Environments
venv/
.venv/

# App
redis-data/
es-data/
metricbeat/
pg-airflow/
metricbeat-data/

# To remove if uv used in production
uv.lock
