---
version: "3"

services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.12.1
    build:
      context: ./elasticsearch
    environment:
      - node.name=elastic-sirene
      - cluster.name=es-docker-cluster
      - discovery.type=single-node
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m -Dlog4j2.formatMsgNoLookups=true"
      - xpack.security.enabled=true
      - ELASTICSEARCH_PORT=9200
      - ELASTIC_PASSWORD=etalab123
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - ./es-data:/usr/share/elasticsearch/data
    container_name: elastic-sirene
    command: bash -c "zip -q -d /usr/share/elasticsearch/lib/log4j-core-*.jar org/apache/logging/log4j/core/lookup/JndiLookup.class && /usr/local/bin/docker-entrypoint.sh"
    networks:
      - api-search-annuaire-entreprises
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.elasticsearch.rule=Host(`localhost`)"
      - "traefik.http.routers.elasticsearch.entrypoints=elasticsearch"
      - "traefik.port=9200"
networks:
  api-search-annuaire-entreprises:
    name: api-search-annuaire-entreprises
