[env]
ENV = "dev"

ELASTIC__USER = ""
ELASTIC__PASSWORD = ""
ELASTIC__URL = ""
SENTRY__DSN = ""
APM__URL = ""

REDIS__HOST = ""
REDIS__PORT =
REDIS__DATABASE =

METADATA__URL_CC_JSON = ""
METADATA__URL_UPDATES_JSON = ""

MATOMO__ID_SITE =
MATOMO__TRACKING_URL = ""
