[tool.ruff]
# Enable Pyflakes `E` and `F` codes by default.
select = ["E", "F", "I", "UP", "PL"]
ignore = []

# Allow autofix for all enabled rules (when `--fix`) is provided.
fixable = ["A", "B", "C", "D", "E", "F", "I"]
unfixable = []

[tool.ruff.pylint]
max-args = 10
max-branches = 15
