elastic-apm==6.26.2
elasticsearch==9.3.0
fastapi[standard]==0.141.1
orjson==3.12.0
pydantic==2.13.2
pydantic-settings==2.15.0
redis==8.1.0
requests==2.34.1
sentry-sdk==2.68.0
PyYAML==6.0.2
pytest==9.1.1
