PyYAML==6.0.2
elasticsearch==8.17.1
elasticsearch_dsl==8.17.1
elastic-apm==6.23.0
requests==2.32.4
sentry-sdk==2.34.1
python-dotenv==1.1.1
pytest==8.4.0
redis==6.2.0
httpx==0.28.1
pydantic==2.11.3
fastapi[standard]==0.116.1
uvicorn==0.35.0
orjson==3.11.1
pydantic-settings==2.10.0
