elastic-apm==6.25.0
elasticsearch==9.3.0
fastapi[standard]==0.136.0
orjson==3.11.6
pydantic==2.13.2
pydantic-settings==2.14.2
pytest==9.0.3
PyYAML==6.0.2
redis==7.0.1
requests==2.34.1
sentry-sdk==2.63.0
