name: Conventional Commits

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  check:
    name: Conventional Commits
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: annuaire-entreprises-data-gouv-fr/github-actions/.github/actions/conventional-check@main
